@font-face {
   font-family: 'FuturaEF DemiBold Regular';
   font-display: swap;
   src: url('file:///Users/ITCloud/Downloads/Projects/Moonshadows/menu/fonts/FuturaEF%20DemiBold%20Regular/font.ttf');
}
