@font-face {
   font-family: 'FuturaEF DemiBold Regular';
   font-display: swap;
   src: url('file:///Users/ITCloud/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-05-24_000114/fonts/FuturaEF%20DemiBold%20Regular/font.ttf');
}
