@font-face {
   font-family: 'FUTURA';
   font-display: swap;
   src: url('file:///Users/ITCloud/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-05-23_222400/fonts/FUTURA/font.ttf');
}
